<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Algorithm</th>
      <th>Accuracy</th>
      <th>Sensitivity</th>
      <th>Specificity</th>
      <th>TP</th>
      <th>TN</th>
      <th>FP</th>
      <th>FN</th>
      <th>Diagnostic Odds Ratio</th>
      <th>Precision</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>